PLATFORM_GROQ_API_KEY=your_groq_api_key_here
# PLATFORM_GROQ_API_KEY_2=second_groq_key_for_rotation
# PLATFORM_GROQ_API_KEY_3=third_groq_key_for_rotation
# PLATFORM_OPENAI_API_KEY=optional_openai_fallback
